services:
  db:
    image: mysql:8.0
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    volumes:
      - db:/var/lib/mysql

  wordpress:
    build:
      context: docker
      dockerfile: wordpress.dockerfile
    depends_on:
      - db
    volumes:
      - wordpress:/var/www/html
      - ./provision/:/var/www/provision/
      - ./build/:/var/www/html/wp-content/plugins/uptrack-map/
      - ./kml-paths:/var/www/html/wp-content/kml-paths
    ports:
      - 1234:80
    restart: always
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DEBUG: 1

volumes:
  wordpress:
  db:
