/*
 * Legend
 */
.leaflet-control-layers-selector {
  /* hide native checkbox */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  margin-right: 6px;
  vertical-align: middle;
  cursor: pointer;

  border-color: currentColor;
}

.leaflet-control-layers-selector:checked {
  background-color: currentColor;
}

.leaflet-control-layers-selector:focus {
  outline: none;
}

.uptrack-legend-text {
  text-transform: uppercase;
  font-weight: bold;

  user-select: none;
  -webkit-user-select: none;
}

/*
 * Focus Card
 */
.uptrack-focus-card {
  /* Exactly the same as .leaflet-control-layers */
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  background: white;
  border-radius: 5px;

  /* Inspired by https://leafletjs.com/examples/choropleth/ */
  padding: 6px 8px;

  /** For the dragging effect */
  touch-action: none;
}

.uptrack-focus-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.uptrack-focus-card-title {
  font-size: x-large;
}

/*
 * Hover Popup
 */
.uptrack-hover-popup {
  font-weight: bold;
  cursor: pointer;
}