on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .tool-versions

      - uses: actions/checkout@v4

      - run: npm ci

      - run: npm run lint
